

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorites Page</title>
</head>
<body>
    <div style="width: 100%;">
        {% include 'polls/components/navbar.html' %}
    </div>

    <ul>
        {% for favorite in favorite_restaurants %}
            <li>
                <strong>Name:</strong> {{ favorite.name }}<br>
                <strong>Address:</strong> {{ favorite.address }}<br>
                <strong>Rating:</strong> {{ favorite.rating }}<br>
                <strong>Opening Hours:</strong> {{ favorite.open_hours }}<br>
                <strong>Phone Number:</strong> {{ favorite.number }}<br>
                <strong>Latitude:</strong> {{ favorite.lat }}<br>
                <strong>Longitude:</strong> {{ favorite.lng }}<br>
            </li>
        {% empty %}
            <li>No favorites added yet.</li>
        {% endfor %}
    </ul>

</body>
</html>