{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'polls/restaurantSearch.css' %}">

    <script>(g=>{
        let h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;b=b[c]||(b[c]={});
        const d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f, ...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyABdQf3ttPoUcYqIFNhRzgL3V-zOBNbUx0", v: "beta"});</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


</head>
<body>

    {#  NavBar   #}
    <div style="width: 100%;">
        {% include 'polls/components/navbar.html' %}
    </div>


    {#  Search Bar  #}
    <div class="search-container">
        <form method="POST" action="{% url 'polls:restaurant_search' %}">
            {% csrf_token %}
            <div class="search-bar-container">
                <label for="query" hidden>Search for restaurants</label>
                <input class="search-bar" id="query" name="query" placeholder="Search for restaurants">
                
                <button id="search-button" type="submit"><i class="fas fa-search"></i></button>
            </div>
            
            <div class="filters-container">
                <div class="filter">
                    <label for="rating"></label>
                    <select id="rating" name="rating">
                        <option value="" selected>Minimum Rating</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="max_price"></label>
                    <select id="max_price" name="max_price">
                        <option value="" selected>Max Price Level</option>
                        <option value="0">Free</option>
                        <option value="1">Inexpensive</option>
                        <option value="2">Moderate</option>
                        <option value="3">Expensive</option>
                        <option value="4">Very Expensive</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="distance"></label>
                    <input type="number" id="distance" name="distance" placeholder="Max Distance (km): e.g., 5">
                </div>
            </div>
            
        </form>
    </div>

    {#  Restaurant Cards  #}
    <div class="main-content">
        <div class="restaurant-list">
            {% if details %}
                {% for detail in details %}
                    <div class="info-card" data-id="{{ detail.place_id }}">
                        {% include 'polls/components/infoCard.html' with detail=detail %}
                    </div>
                {% endfor %}

{#            {% elif places %}#}
{##}
{#                <p>Got here</p>#}
{#                {% for place in places %}#}
{#                    <div class="info-card" data-id="{{ place.id }}">#}
{#                        {% include 'polls/components/infoCard.html' with detail=place %}#}
{#                    </div>#}
{#                {% endfor %}#}

            {% else %}
                <p>Search for restaurants by typing their name, cuisine type, or street name.</p>
            {% endif %}
        </div>
    
        <div class="map-container">
            <div id="map" style="height: 100vh; width: 100%;"></div>
        </div>
    </div>


<script>
        let map, infoWindow;
        let pos = { lat: 33.77683196783757, lng: -84.39622529694923 };
        const markers = [];
        
        async function initMap() {
            const { Map, InfoWindow } = await google.maps.importLibrary("maps");

            map = new Map(document.getElementById("map"), {
                center: pos, // Default center coordinates (can be any starting point)
                zoom: 15,
                mapId: "123891748939",
            });

            pos = getUserPos();


            const locationButton = document.createElement("button");
            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                getUserPos();
            });
            infoWindow = new InfoWindow();

            await nearbySearch();
            await searchResults();


        }

        async function searchResults() {

            const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");
            const restaurantData = {{ mapDetails|default:"null"|safe }};
            if (!restaurantData || restaurantData.length === 0) {
                return;
            }
            // Add markers for restaurants
            restaurantData.forEach(restaurant => {
                const marker = new AdvancedMarkerElement({
                    map,
                    position: {lat: restaurant.lat, lng: restaurant.lng},
                    title: restaurant.name
                });

                markers.push(marker);

                let contentString = `<div>
                                <h3>${restaurant.place_id}</h3>

                              </div>`


                marker.addListener('click', () => {
                    infoWindow.close();
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, marker);
                    showCustomInfoCard(restaurant);
                });
            });

            document.querySelectorAll('.info-card').forEach(card => {
                card.addEventListener('click', () => {
                    const restaurantId = card.getAttribute('data-id');
                    const restaurant = restaurantData.find(r => r.place_id === restaurantId);
                    console.log(restaurant);
                    if (restaurant) {
                        map.panTo({ lat: restaurant.lat, lng: restaurant.lng });
                        highlightMarker(restaurantId, markers);
                        highlightInfoCard(restaurantId);
                    }
                });
            });

            function showCustomInfoCard(restaurant) {
                const infoCard = document.querySelector(`.info-card[data-id="${restaurant.place_id}"]`);

                if (infoCard) {
                    // Scroll to info card if it's not in view
                    const cardRect = infoCard.getBoundingClientRect();
                    const isCardVisible = cardRect.top >= 0 && cardRect.bottom <= window.innerHeight;

                    if (!isCardVisible) {
                        infoCard.scrollIntoView({ behavior: 'smooth', block: 'start' });
                    }

                    // Highlight the info card
                    document.querySelectorAll('.info-card').forEach(card => {
                        card.classList.remove('highlight');
                    });
                    infoCard.classList.add('highlight');
                }
            }


            function highlightInfoCard(restaurantId) {
                document.querySelectorAll('.info-card').forEach(card => {
                    if (card.getAttribute('data-id') === restaurantId) {
                        card.classList.add('highlight');
                    } else {
                        card.classList.remove('highlight');
                    }
                });
            }

            function highlightMarker(restaurantId) {
                markers.forEach(marker => {
                    if (marker.title === restaurantData.find(r => r.place_id === restaurantId).name) {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                        setTimeout(() => marker.setAnimation(null), 1400);
                    }
                });
            }

            // Function to fit map to contain all markers
            function fitMapToBounds() {
                const bounds = new google.maps.LatLngBounds();
                markers.forEach(marker => {
                    bounds.extend(marker.position);
                });
                map.fitBounds(bounds);
            }

            fitMapToBounds(markers);
        }

        async function getUserPos() {
            const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");
            let userPos = { lat: 33.77683196783757, lng: -84.39622529694923 };
            if (infoWindow) {
                infoWindow.close();
            }
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        userPos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };

                        map.setCenter(userPos);

                        const userPin = document.createElement("img");
                        userPin.src = "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"

                        const userMarker = new AdvancedMarkerElement({
                            map,
                            position: userPos,
                            title: "Your Location",
                            content: userPin,
                        });

                        sendUser(userPos);




                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    },
                );
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
            return userPos;
        }
        
        async function nearbySearch() {
          //@ts-ignore
          const { Place, SearchNearbyRankPreference } = await google.maps.importLibrary(
            "places",
          );
          const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
          // Restrict within the map viewport.
          let center = map.center;
          const request = {
            // required parameters
            fields: ["displayName", "location", "businessStatus", "id", "adrFormatAddress", "rating", "reviews"],
            locationRestriction: {
              center: center,
              radius: 1000,
            },
            // optional parameters
            includedPrimaryTypes: ["restaurant"],
            maxResultCount: 6,
            rankPreference: SearchNearbyRankPreference.POPULARITY,
            language: "en-US",
            region: "us",
          };
          //@ts-ignore
          const { places } = await Place.searchNearby(request);
                
          if (places.length) {
              console.log(places);

            const { LatLngBounds } = await google.maps.importLibrary("core");
            const bounds = new LatLngBounds();
            {#await sendPlaces(places)#}
    
            // Loop through and get all the results.
            places.forEach((place) => {
    {#            const reviews = place.reviews;#}
    {#reviews.forEach((review) => {#}
    {#    console.log(review.publishTime);#}
    {#    console.log(`Review: ${review.text}`);#}
    {#    console.log(`Rating: ${review.rating}`);#}
    {#    console.log('---');#}



                const pin = new PinElement({
                    background: '#FBBC04',
                    scale: 1,
                });
    
              const marker = new AdvancedMarkerElement({
                map,
                position: place.location,
                title: place.displayName,
    
                  content: pin.element,
                  gmpClickable: true,
              });
    
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
    
              bounds.extend(place.location);
            });
            map.fitBounds(bounds);
          } else {
            console.log("No results");
          }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation.",
        );
        infoWindow.open(map);
    }

        // The JS function is provided by Django to get the CSRF token (Security Token).
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    function sendUser(position) {
        const csrftoken = getCookie('csrftoken');

        const posCoords = {
            lat: position.lat,
            lng: position.lng
        };

        console.log(posCoords);
        return $.ajax({
            url: '/polls/get_location/',
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: JSON.stringify(posCoords),
            contentType: 'application/json',
            success: function(response) {
                console.log("Successfully sent the location.");
                console.log(posCoords);
            },
            error: function(xhr, status, error) {
                console.error('Error sending the location:', error);
            }
        });
    }

    initMap();

    </script>






</body>
</html>
