{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static '../static/polls/restaurantSearch.css' %}">
</head>
<body>

    {#  NavBar   #}
    <div style="width: 100%;">
        {% include 'polls/components/navbar.html' %}
    </div>

    {#  Search Bar  #}
    <div class="search-container">
        <form method="POST" action="{% url 'polls:restaurant_search' %}">
            {% csrf_token %}
            <input class="search-bar" id="query" name="query" placeholder="Search for restaurants">
            <button><i class="fas fa-search"></i></button>
        </form>
        
    </div>

    {#  Restaurant Cards  #}
    <div class="card-grid">
        {% if details %}
        <div class="info-card">
            {% include 'polls/components/infoCard.html' with name=details.name address=details.formatted_address rating=details.rating %}
        </div>
        {% endif %}
    </div>


<!-- restaurant_search/templates/search.html -->
    {% if details %}
    <h2>Restaurant Details (Total: {{ details|length }})</h2>
    {% for detail in details %}
        <p>Name: {{ detail.name }}</p>
        <p>Address: {{ detail.formatted_address }}</p>
        <p>Phone: {{ detail.opening_hours}}</p>
        <p>Website: 
            {% if detail.website %}
                <a href="{{ detail.website }}" target="_blank">{{ detail.website }}</a>
            {% else %}
                N/A
            {% endif %}
        </p>
        <p>Rating: 
            {% if detail.rating %}
                {{ detail.rating }}
            {% else %}
                N/A
            {% endif %}
        </p>
        <p>.................................................</p>
    {% endfor %}
{% else %}
    <p>No restaurant details found.</p>
{% endif %}

</body>
</html>
