{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static '../static/polls/heroSection.css' %}">
</head>
<body>

    <div class="hero-container">
      <h1>ADVENTURE AWAITS</h1>
      <p>What are you waiting for?</p>
      <div class="hero-btns">
        <a href="/accounts/signup/" class="btn">GET STARTED</a>
        <a href="/accounts/login/" class="btn">LOGIN</a>
      </div>
    </div>



</body>
</html>
