{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoCard</title>
    <link rel="stylesheet" href="{% static '../static/polls/infoCard.css' %}">
</head>
<body>

    <div class="cards__item">
        <div class="restaurant-img {% if not detail.image_url %}no-image{% endif %}" style="background-image: url('{{ detail.image_url }}');"></div>
        <div class="info">
            <p class="restaurant-name">{{ detail.name }}</p>
            <p class="restaurant-address">{{ detail.address }}</p>
            <p class="timings"><strong>Closing Times:</strong> {{ detail.open_hours }}</p>
            <p class="phone_number"><strong>Phone Number: </strong> {{ detail.number }}</p>
        </div>
        <div class="rating">
            <div class="stars">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>

            <div class="restaurant-rating">{{ detail.rating }}</div>
        </div>
    </div>

</body>
</html>