{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoCard</title>
    <link rel="stylesheet" href="{% static '../static/polls/infoCard.css' %}">
</head>
<body>

    <div class="cards__item"><X></X>
        <div class="restaurant-img"></div>
        <div class="info">
            <p class="restaurant-name">Argosy</p>
            <p class="restaurant-address">470 Flat Shoals Ave SE</p>
            <p class="timings"><strong>Closing Time:</strong> 5pm - 1am</p>
            <p class="description">Hip New American pub with beers galore</p>
        </div>
        <div class="rating">
            <div class="stars">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>

            <div class="restaurant-rating">5.0</div>
        </div>
    </div>

</body>
</html>