{% extends "registration/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Sign up</h2>
        <form class="inputs" method="post">
          {% csrf_token %}
          {{ form }}
          <button class="click_button" type="submit">Sign Up</button>
            
          <div class="link_container">
              <p class="exit_link"><a href="{% url 'login' %}">Login</a></p>
              <p> | </p>
              <p class="exit_link"><a href="{% url 'password_reset' %}">Password Reset</a></p>  
          </div>
        </form>
    </div>
{% endblock %}