{% extends "registration/base.html" %}

<body>
    {% block title %}Login{% endblock %}

    {% block content %}
        <div class="container">
            <h2 class="title">Log In</h2>
            <form class="inputs" method="post">
                {% csrf_token %}
                {{ form }}
            <button class="click_button" type="submit">Log In</button>
            <p class="exit_link"><a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
        </div>

    {% endblock %}
</body>
